<form class="text-center pt-4 restaurant-editArea" action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <div>
    <label for="">Restaurant Name:</label>
    <input type="text" placeholder="name" name="name" value="{{restaurant.name}}">
  </div>

  <div>
    <label for="">Restaurant category:</label>
    <input type="text" placeholder="category" name="category" value="{{restaurant.category}}">
  </div>

  <div>
    <label for="">Restaurant image:</label>
    <input type="text" placeholder="image" name="image" value="{{restaurant.image}}">
  </div>

  <div>
    <label for="">Restaurant location:</label>
    <input type="text" placeholder="location" name="location" value="{{restaurant.location}}">
  </div>

  <div>
    <label for="">Restaurant phone:</label>
    <input type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}">
  </div>

  <div>
    <label for="">Restaurant rating:</label>
    <input type="text" placeholder="rating" name="rating" value="{{restaurant.rating}}">
  </div>

  <div>
    <label for="">Restaurant description:</label>
    <textarea placeholder="description" name="description" rows="5" cols="33"
      style="resize: none;">{{restaurant.description}}</textarea>
  </div>

  <button class="btn btn-primary btn-sm" type="submit">Save</button>
  <a href="/" class="btn btn-secondary btn-sm">back</a>
</form>