<form class="text-center mt-4" action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <label for="">Restaurant Name:</label>
  <input type="text" placeholder="name" name="name" value="{{restaurant.name}}"><br>

  <label for="">Restaurant category:</label>
  <input type="text" placeholder="category" name="category" value="{{restaurant.category}}"><br>

  <label for="">Restaurant image:</label>
  <input type="text" placeholder="image" name="image" value="{{restaurant.image}}"><br>

  <label for="">Restaurant location:</label>
  <input type="text" placeholder="location" name="location" value="{{restaurant.location}}"><br>

  <label for="">Restaurant phone:</label>
  <input type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}"><br>

  <label for="">Restaurant rating:</label>
  <input type="text" placeholder="rating" name="rating" value="{{restaurant.rating}}"><br>

  <div>
    <label for="">Restaurant description:</label>
    <textarea placeholder="description" name="description" rows="5" cols="33" style="resize: none;">
    {{restaurant.description}}
    </textarea>
  </div>

  <button class="btn btn-primary btn-sm" type="submit">Save</button>
  <a href="/" class="btn btn-secondary btn-sm">back</a>
</form>